/* definir uma fonte mais profissonal para meu portifolio */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
.navbar-brand {
    font-weight: bold; /* Deixa o nome em negrito */
}
.sobre-mim-texto {
    font-size: 1.2rem; /* Aumenta o tamanho da fonte */
    line-height: 1.7; /* Aumenta o espaçamento entre as linhas */
    margin-bottom: 1rem; /* Adiciona um pouco de espaçamento abaixo dos parágrafos */
}
/* Estilos para a seção de Soft Skills */
#soft-skills .soft-skill-card {
    background-color: #343a40; /* Cor de fundo escura */
    border-radius: 0.5rem;
    padding: 1.5rem;
    text-align: center;
    color: #fff; /* Cor do texto claro */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    height: 100%; /* Garante que os cards tenham a mesma altura */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha o conteúdo verticalmente */
}

#soft-skills .soft-skill-icon {
    font-size: 3rem; /* Tamanho do ícone */
    margin-bottom: 1rem;
    color: #00bcd4; /* Cor do ícone (azul claro) */
}

#soft-skills h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: #fff;
}

#soft-skills p {
    font-size: 1rem;
    line-height: 1.6;
}